<!DOCTYPE html>
<html>
    <head>
        <title>NodeJS Web Server</title>
        <link rel='stylesheet' href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <img src='/img/EricCartman.png' class='portrait' />
        <p>This is about page</p>
        {{>footer}}
    </body>
</html>